.Nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(31, 66, 105);
  overflow: hidden;
  transition: width 0.5s;
}

.Logo {
  margin: 20px auto 10px;
  width: 135px;
  padding: 0 10px;
}

.List {
  display: block;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.List li {
  display: block;
  width: 100%;
}

.List a {
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  transition: background-color 0.15s;
}

.List a:hover {
  background-color: rgb(39, 82, 131);
}

@media (max-width: 1170px) {
  .Nav {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
